fastapi
langchain
langchain-core
langchain-community
langchain-groq
sentence-transformers
chromadb
python-dotenv
pathlib
qdrant-client
pypdf
numpy
torch
torchaudio
torchvision
uvicorn
pytesseract